{% extends 'base.html.twig' %}

{% block body_class %}admin-page{% endblock %}

{% block body %}

{% include 'header_admin.html.twig' %}

    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

<main class="admin-manage-hotels">
    <h2>Gestionar Habitaciones - {{ hotel.nombre }}</h2>

    <table>
        <thead>
            <tr>
                <th>Numero</th>
                <th>Capacidad</th>
                <th>Precio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for habitacion in habitaciones %}
                <tr>
                    <td>Habitación {{ habitacion.getNumero }}</td>
                    <td>{{ habitacion.getCantPersonas }} Personas</td>
                    <td>${{ habitacion.getPrecioNoche }}</td>
                    <td>
                        <a href="{{ path('ver_habitacion', {hotel_id: hotel.id, habitacion_id: habitacion.id}) }}" class="btn-edit">Editar</a>
                        <a href="{{ path('eliminar_habitacion', {hotel_id: hotel.id, habitacion_id: habitacion.id}) }}" class="btn-delete">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tr>

        </tbody>
    </table>
    <br><br><br>
    <h2>Agregar Habitacion</h2><br><br>
    <form action="{{ path('agregar_habitacion', {hotel_id: hotel.id}) }}" method="POST">

        <label for="habitacion-numero">Numero de habitacion:</label>
        <input type="number" id="habitacion-numero" name="numero">

        <label for="habitacion-personas">Cantidad de personas:</label>
        <input type="number" id="habitacion-personas" name="cantPersonas">

        <label for="habitacion-precio">Precio:</label>
        <input type="number" id="habitacion-precio" name="precio">

        <div class="form-actions">
            <input class="btn-save" type="submit" name="agregarHabitacion" value="Guardar">
        </div>
    </form>
</main>

<footer>
    Contacto: info@calmreserve.com | Tel: +123456789<br>
    Política de privacidad | Términos y condiciones
</footer>
{% endblock %}