{% extends 'base.html.twig' %}

{% block body_class %}user-page{% endblock %}

{% block body %}

<div class="user-page">
{% include 'header.html.twig' %}

    {% for message in app.flashes('notice') %}
        <div class="flash-notice">        
            {{ message }}    
        </div>
    {% endfor %}

<main class="cancel-reservation-container">
    <h2>Cancelar Reserva</h2>
    <div class="reservation-table">
        <table>
            <thead>
                <tr>
                    <th>Número de Reserva</th>
                    <th>Hotel</th>
                    <th>Habitacion</th>
                    <th>Fecha de Entrada</th>
                    <th>Fecha de Salida</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for key, r in resultado %}
                <tr>
                    <td>{{r.nroReserva}}</td>
                    <td>{{r.hotelDescripcion}}</td>
                    <td>{{r.nroHabitacion}}</td>
                    <td>{{r.fechaEntrada}}</td>
                    <td>{{r.fechaSalida}}</td>
                    <td>
                        <button class="btn-danger"><a href="{{ path('cancelar_reserva', { 'id': r.nroReserva }) }}">Cancelar Reserva</a></button>
                    </td>
                </tr>
            {% endfor %}    
            </tbody>
        </table>
    </div>
</main>
</div>
<footer>
    Contacto: info@calmreserve.com | Tel: +123456789<br>
    Política de privacidad | Términos y condiciones
</footer>
{% endblock %}
