{% extends 'base.html.twig' %}

{% block body_class %}user-page{% endblock %}

{% block body %}
<div class="user-page">
{% include 'header.html.twig' %}
    {% for message in app.flashes('notice') %}
        <div class="flash-notice">        
            {{ message }}    
        </div>
    {% endfor %}
<main class="review-container">
    <h2>Reseña de Hotel</h2>
    {% for key, r in reseña %}
    <div class="room-description">
        <img src={{asset(r.imagen)}} alt="Hotel">
        <div class="description">
            <h3>Descripción del Hotel</h3>
            <p>{{r.hotel_descripcion}}</p>
        </div>
    </div>

    <h3>Deja tu Comentario y Valoración</h3>
    <form action="{{ path('resenia_comentar') }}" method="POST">
        <div class="form-group">
            <label for="comment">Comentario:</label>
            {% if r.comentario == null %}
            <textarea id="comment" name="comment" rows="4"></textarea>
            {% else %}
            <textarea id="comment" name="comment" rows="4">{{r.comentario}}</textarea>
            {% endif %}
        </div>
        <input type="hidden" name="idReserva" value={{r.reservaID}}>                
        <input type="hidden" name="idHotel" value={{r.hotelID}}>                
        <div class="form-group">
            <label for="rating">Valoración:</label>
            <div class="stars">
                <input type="radio" id="star1" name="rating" value="1" {{ r.cant_estrellas == 1 ? 'checked' : '' }}><label for="star1">☆</label>
                <input type="radio" id="star2" name="rating" value="2" {{ r.cant_estrellas == 2 ? 'checked' : '' }}><label for="star2">☆</label>
                <input type="radio" id="star3" name="rating" value="3" {{ r.cant_estrellas == 3 ? 'checked' : '' }}><label for="star3">☆</label>
                <input type="radio" id="star4" name="rating" value="4" {{ r.cant_estrellas == 4 ? 'checked' : '' }}><label for="star4">☆</label>
                <input type="radio" id="star5" name="rating" value="5" {{ r.cant_estrellas == 5 ? 'checked' : '' }}><label for="star5">☆</label>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn-primary">Enviar Reseña</button>
        </div>
    </form>
    {% endfor %}
</main>
</div>

<footer>
    Contacto: info@calmreserve.com | Tel: +123456789<br>
    Política de privacidad | Términos y condiciones
</footer>
{% endblock %}
