{% block header %}

<div>
    <header>
        <a href="{{ path('principal') }}"><h1>CALM RESERVE</h1></a>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <p>Email: {{ app.user.email }}</p>
        {% endif %}
        <nav>
            <a href="{{ path('principal') }}">Soy usuario normal</a>
            <a href="{{ path('gestionar_publicacion') }}">Gestionar publicacion</a>
            <a href="{{ path('historial_reservas_admin') }}">Historial reservas</a>
            <a href="{{ path('perfil_usuario') }}">Administrar perfil</a>
            <a href="{{ path('app_logout') }}">Cerrar Sesión</a>
        </nav>
    </header>
</div>
{% endblock %}
