
{% block header %}

<div>
    <header>
        <a href="{{ path('principal') }}"><h1>CALM RESERVE</h1></a>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <p>Email: {{ app.user.email }}</p>
        {% endif %}
        <nav>
            <a href="#">Soy propietario</a>
            <a href="{{ path('consultar_disponibilidad') }}">Reservar</a>
            <a href="{{ path('cancelar_reserva') }}">Mis Reservas</a>
            <a href="{{ path('resenia_hotel') }}">Reseña de Hotel</a>
            <a href="{{ path('perfil_usuario') }}">Administrar perfil</a>
            <a href="{{ path('app_logout') }}">Cerrar Sesión</a>
        </nav>
    </header>
</div>
{% endblock %}
