
{% block header %}

<div>
    <header>
        <h1>CALM RESERVE</h1>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <p>Email: {{ app.user.email }}</p>
        {% endif %}
        <nav>
            <a href="{{ path('consultar_disponibilidad') }}">Consultar disponibilidad</a>
            <a href="#">Reservar una habitación</a>
            <a href="{{ path('cancelar_reserva') }}">Cancelar Reserva</a>
            <a href="{{ path('resenia_hotel') }}">Reseña de Hotel</a>
            <a href="{{ path('perfil_usuario') }}">Administrar perfil</a>
            <a href="{{ path('app_logout') }}">Cerrar Sesión</a>
        </nav>
    </header>
</div>
{% endblock %}
